@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal";
  src: local("NeueMontreal"),
    url("./Fonts/NeueMontreal-Light.otf") format("opentype") tech(color-COLRv1);
}

@font-face {
  font-family: "Porlane";
  src: local("Porlane"),
    url("./Fonts/Porlane-Regular.ttf") format("opentype") tech(color-COLRv1);
}

body {
  background: #292929;
  color: #f2f2f2;
}

.header-text {
  text-transform: uppercase;
  font-family: "Porlane", sans-serif;
  font-size: 27rem;
  color: #f2f2f2;
  white-space: nowrap;
  line-height: 0.8;
  margin-right: 0.1rem;
  display: inline-block;
  position: relative;
  width: 800px;
  text-align: left;
}

#scroll-container {
  flex: none;
  margin: 0;
  padding: 0;
  position: relative;
  /* border: 3px solid black; */
  /* border-radius: 5px; */
  overflow: hidden;
}

#scroll-text {
  text-align: left;
  margin-top: 10%;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.--intro {
  z-index: 1;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 4rem 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.cards {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  display: grid;
  position: relative;
  /* height: 90vh; */
}

.col-1 {
  border-radius: 20px;

  letter-spacing: -0.02rem;
  font-size: 2rem;
  line-height: 1.2;
  background: #f2f2f2;
  color: #292929;
  padding: 6rem 3rem;
  font-family: "NeueMontreal";
}
.col-2 {
  border-radius: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 100%;
    grid-column-gap: 1rem;
    grid-row-gap: 1.25rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: grid;
    position: relative;
    /* height: 90vh; */
  }

  #scroll-text {
    margin-top: 30%;
    -moz-animation: my-animation 8s linear infinite;
    -webkit-animation: my-animation 9s linear infinite;
    animation: my-animation 9s linear infinite;
  }

  .header-text {
    line-height: 0.8;
    margin-left: 1rem;
    display: inline-block;
    position: relative;
    width: 600px;
    text-align: left;
  }
}

.horizontal-line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 2rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "NeueMontreal";
  font-size: 2rem;
  margin: 2rem 2rem;
  line-height: 1;
}

.abt-title {
  font-family: "Porlane";
  font-size: 5rem;
  text-transform: uppercase;
}

.--cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
