@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal";
  src: local("NeueMontreal"),
    url("./Fonts/NeueMontreal-Light.otf") format("opentype") tech(color-COLRv1);
}

@font-face {
  font-family: "Porlane";
  src: local("Porlane"),
    url("./Fonts/Porlane-Regular.ttf") format("opentype") tech(color-COLRv1);
}

body {
  background: #292929;
  color: #f2f2f2;
}

.header-text {
  text-transform: uppercase;
  font-family: "Porlane", sans-serif;
  font-size: 27rem;
  color: #f2f2f2;
  white-space: nowrap;
  line-height: 0.8;
  margin-right: 0.1rem;
  display: inline-block;
  position: relative;
  width: 800px;
  text-align: left;
}

#scroll-container {
  flex: none;
  margin: 0;
  padding: 0;
  position: relative;
  /* border: 3px solid black; */
  /* border-radius: 5px; */
  overflow: hidden;
}

#scroll-text {
  text-align: left;
  margin-top: 10%;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  #scroll-text {
    margin-top: 30%;
    -moz-animation: my-animation 8s linear infinite;
    -webkit-animation: my-animation 9s linear infinite;
    animation: my-animation 9s linear infinite;
  }

  .header-text {
    line-height: 0.8;
    margin-left: 1rem;
    display: inline-block;
    position: relative;
    width: 600px;
    text-align: left;
  }
}
