@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.poppinsType {
  font-family: var(--font-poppins);
}

body {
  background: #292929;
  color: #f2f2f2;
}

.calendar {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  margin-bottom: 1rem;
  background-color: #2f2d2d;
  border-radius: 20px;
  height: 90vh;
  color: #292929;
  position: relative;
  top: 35%;
  border-radius: 25px;
  box-shadow: -4px -10px 24px 11px rgba(0, 0, 0, 0.1);
  transform-origin: top;
}

.container-contact {
  padding: 4rem;
}

.wk--title {
  margin-top: 4rem;
  font-family: var(--font-porlane);
  font-size: 12vw;
  text-transform: uppercase;
  line-height: 0.8;
  color: #f9f9f9;
  /* width: 50%; */
}

.cal-card {
  background: white;
  border-radius: 10px;
  padding: 2rem;
}

.contact-p {
  color: white;
  font-family: var(--font-poppins);
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 1.2;
  width: 60%;
}

.arrow {
  position: relative;
  left: 45%;
}

@media (max-width: 990px) {
  .wk--title {
    margin-top: 9rem;
    font-family: var(--font-porlane);
    font-size: 8rem;
    padding: 2rem;
    text-align: center;
    /* width: 50%; */
  }
  .contact-p {
    text-align: center;
    padding: 4rem 3rem;
  }
  .calendar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0rem;
  }
  .contact-p {
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .container-contact {
    padding: 0rem;
  }

  .cal-card {
    padding: 0rem;
    border-radius: 0px;

    /* background: white; */
    /* border-radius: 10px;
     */
  }
}
