.--intro {
  z-index: 1;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 4rem 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.col-1 {
  border-radius: 20px;
  letter-spacing: -0.02rem;
  font-size: 2rem;
  line-height: 1.2;
  background: #f2f2f2;
  color: #292929;
  padding: 6rem 3rem;
  font-family: "NeueMontreal";
}

.horizontal-line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 2rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "NeueMontreal";
  font-size: 2rem;
  margin: 2rem 2rem;
  line-height: 1;
  height: 50vh;
}

.abt-title {
  font-family: "Porlane";
  font-size: 5rem;
  text-transform: uppercase;
}

.--cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 899px) {
  .--intro {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 1.5rem;
  }
  .col-1 {
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "NeueMontreal";
    font-size: 2rem;
    margin: 3rem 2rem;
    padding-bottom: 5rem;
    line-height: 1;
  }
}

@media screen and (max-width: 568px) {
  .--cards {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
  }
  .abt-title {
    padding-bottom: 3rem;
  }

  .about {
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    line-height: 1;
  }

  .col-1 {
    height: 55vh;
  }
}
