.load-body {
  position: relative;
  float: right;
  bottom: 6rem;
  padding: 2rem;
  overflow: hidden;
}

.load-name {
  position: relative;
  top: 43rem;
  padding-left: 3rem;
  overflow: hidden;
  font-size: 4rem;
  font-family: var(--font-porlane);
}
