.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 506px;
  /* overflow-x: hidden; */

  flex: none;

  padding: 0;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
}

.marquee-text {
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: "Porlane", sans-serif;
  font-size: 27rem;
  color: #f2f2f2;
  /* ;
  white-space: nowrap;
  line-height: 0.8;
  margin-right: 0.1rem;
  display: inline-block;
  position: relative;
  width: 800px;
  text-align: left; */
}
